@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Michroma&display=swap');
:root{
    --color-white: #fff;
    --color-he-blue1: #042C49;
    --color-he-blue2: #033960;
    --color-bg-gray1: rgb(0, 0, 0);
    --color-bg-gray2: rgb(0, 0, 0);
    --color-he-sh-black: #000000;
    --color-bg-lk-blue: rgba(4, 82, 160, 0.726);
    --color-bg-menu: #063354;
    --color-bg-sidebar: #5e5c5c28;
    --color-fl-borda: rgba(255, 255, 255, 0.808);
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, var(--color-bg-gray1), var(--color-bg-gray2));
    color: var(--color-white);
}
.img_logo{
    width: 70px;
}
.img_menu,
.menu_h{
    height: 48px;
    width: 48px;
}
.menu_h{
    cursor: pointer;
}
header,
.navigation_h{
    display: flex;
    flex-direction: row;
    align-items: center;
}
header{
    background: linear-gradient(to bottom, var(--color-he-blue1), var(--color-he-blue2));
    box-shadow: 1px 1px 4px var(--color-he-sh-black);
    height: 70px;
    justify-content: space-between;
    padding: 0 1% 0 0;
}
.navigation_h{
    width: 50%;
    gap: 7%;
    justify-content: end;
}
.navigation_h a{
    transition: 0.5s;
    color: var(--color-white);
    text-decoration: none;
    font-weight: bold;
}
.header_left{
    display: flex;
    align-items: center;
    width: 5%;
}
.header_right{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5%;
    width: 90%;
}
.active{
    background-color: var(--color-bg-lk-blue);
    padding: 15px;
    border-radius: 15px;
}
.menu{
    background: var(--color-bg-menu);
    transition: 0.3s;
    display: flex;
    transform: scaleX(0);
    transform-origin: right;
    position: absolute;
    height: 88.7%;
    width: 16%;
    top: 11.35%;
    left: 84%;
    z-index: 1;
    opacity: 0;
}
.menu li a{
    color: white;
    text-decoration: none;
}
.op_menu{
    transform: scaleX(1);
    transform-origin: right;
    opacity: 1;
}
.list_menu li{
    top: 5%;
    position: relative;
    left: 50%;
}
.sidebar_m{
    background: var(--color-bg-sidebar);
    height: 100%;
    width: 4%;
}
.main{
    left: 0%;
    transition: 0.3s;
    text-align: center;
    padding-top: 3px;
    width: 100%;
    z-index: 20;
}
.bg_img{
    opacity: 0;
    animation-name: ImageLoop;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: 40%;
    width: 90%;
    margin: 0;
}
#Filme{
    position: relative;
    z-index: -1;
    left: -4%;
    height:530px;
    width: 1050px;
}
.shadow{
    transition: 0.3s;
    animation-name: ShadowLoop;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    z-index: 1;
    left: 1%;
    width: 81%;
    height: 86%;
    box-shadow: inset 0px 7px 40px 75px black;
}
.op_shadow{
    left: 1%;
}
.filme_1 img,
.filme_2 img,
.filme_3 img{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 3;
}
.filme_1,
.filme_2,
.filme_3{
    transition: 0.6s;
    border-radius: 5px;
    background: var(--color-fl-borda);
    left: 81%;
    padding: 3px;
    height: 125px;
    width: 240px;
    position: absolute;
    z-index: 3;
}
.filme_1{
    top: 20%;
}
.filme_2{
    top: 45%;
}
.filme_3{
    top: 70%;
}
.op_filmes{
    opacity: 0;
    transition: 0.3s;
    left: 65%;
    width: 230px;
}
.op_filmes2_1{
    opacity: 1;
    transition-property: opacity, transform;
    transition-duration: 1.2s, 0.3s;
    left: 12%;
    top: 65%;
}
.op_filmes2_2{
    opacity: 1;
    transition-property: opacity, transform;
    transition-duration: 1.2s, 0.3s;
    left: 34%;
    top: 65%;
}
.op_filmes2_3{
    opacity: 1;
    transition-property: opacity, transform;
    transition-duration: 1.2s, 0.3s;
    left: 56%;
    top: 65%;
}
.filme_1:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.filme_2:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.filme_3:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.Site_Name{
    position: absolute;
    top: 15%;
    left: 10%;
    height: 15%;
    width: 60%;
    line-height: 100%;
    font-size: 60px;
    border-radius: 15px;
    padding: 15px;
    font-family: Michroma;
    color: var(--color-white);
    z-index: 3;
}
@keyframes ImageLoop {
    10% {opacity: 1;}
    85% {opacity: 1;}
    95% {opacity: 0;}
    100%{
        transform: translateX(-40px);
    }
}
@keyframes ShadowLoop {
    100%{
        transform: translateX(-40px);
    }
}